
#general {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}

div#titol {
    position: absolute;
    /*width: 50px;
    margin: 0 auto;*/
    top: 125px;
}

#imgTitol {
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
}

div span.titol {
    color: blue;
    font-family: fantasy;
    font-size: 45px;
    font-weight: bold; 
}

div#botons {
    position: absolute;
    width: 200px;
    margin: 0 auto;
    left: 40%;
    right: 40%;
    top: 225px;
}

#penjatImg{
    -webkit-filter: blur(70%);/* Safari 6.0 - 9.0 */
    filter: blur(7px);
}
